Flask==3.0.3
Flask-WTF==1.2.1
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-Login==0.6.3
python-dotenv==1.0.1
pandas==2.2.3
requests==2.32.4
pytest==8.2.2
yfinance==0.2.41
finnhub-python==2.4.20
fredapi==0.5.2
plotly==5.23.0
polygon-api-client==1.14.2
gunicorn
psycopg2
email-validator