{% extends 'main/base.html' %}

{% block content %}

    <h1>{{ category|capitalize }} News</h1>
    {% if news %}
        <div class="scrollable-list">
            <div class="row justify-content-center">
                {% for article in news.data %}
                    <div class="col-md-6">
                        <div class="card" style="width: 30rem;">
                            <img src="{{ article.image }}" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">{{ article.headline }}</h5>
                                <p class="card-text">{{ article.summary }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Source: {{ article.source }}</li>
                                <li class="list-group-item">Date: {{ article.datetime }}</li>
                            </ul>
                            <div class="card-body">
                                <a href="{{ article.url }}" class="card-link">Go to Article</a>
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    {% endif %}


    <style>
        .scrollable-list {
            max-height: 650px; /* Set the maximum height of the scrollable area */
            overflow-y: auto; /* Enable vertical scrollbar if content overflows */
            border: 1px solid darkblue; /* Add a 1px solid border with a light gray color */
            border-radius: 10px; /* Add border-radius for smoother edges */
            padding: 10px; /* Add padding to separate content from the border */
        }
    </style>

{% endblock %}